.section__about {
    padding: 15rem 0;
    font-weight: 400;
    line-height: 1.7;
    width: 100%;
    background-color: #f7f7f7;

    .concept {
        height:20rem;
        //background-color: red;

    }
}