@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }

}
 @mixin master {
       @for $i from 1 through 3 {
        
        &-#{$i} {
           
            opacity: 0;
            animation-iteration-count:$i * 3;
            
        }
    }
}
 
