.side-nav {
    width:23%;
    background-color: $color-secondary;
    height: 100%;
   // margin: auto;
    padding: 8rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    border-right:1rem solid #d7d7d7;

    display: flex;
    flex-direction: column;
    align-items: center;
    
   

    &__image-container {
       // background-color: white;
        min-height: 22rem;
        min-width: 22rem;
        background-image: url(../image/back.jpg);
        background-size: 110%;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 5px solid #fff;
        margin-bottom: 1.5rem;

    }

    &__name {
        font-family: sans-serif;
        font-size: 2.6rem;
        font-weight: 700;
       //text-transform: uppercase;
       letter-spacing: 0;
        color: #fff;
        text-align: center;
        margin-bottom: 8rem;
        
    }

    &__timeline {
       text-align: center;

        &-text {
            list-style: none;
            text-transform: uppercase;
            
    
        }

        &-list {
            padding: 1rem 3rem;
            transition: all .2s;
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
            
            &:hover {
                background-color: $color-primary;
                cursor: pointer;
                border-radius: 5px;
                transform: scale(1.1) translateY(-1rem) skewX(-10deg);

            }

            &:active {
                background-color: $color-grey-light-2;
            }

        }
    
        &-link {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            font-size: 2.5rem;
           
           
            
        }

    }

   

  
}

