@keyframes firstMove {
    0%{
        opacity: 0;
        transform: translateX(-30rem);

    }
    80% {
        transform:scale(1.2);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        //visibility: hidden;


    }
}




